<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">HealthHub</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <h1>HealthHub</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/search">Ricerca Medici</a></li>
            <li><a href="/doctor/signup">Iscrizione Medico</a></li>
            <li><a href="#">Iscrizione Utente</a></li>
            <li><a href="#">Social</a></li>
            <li><a href="#">Contatti</a></li>
        </ul>
    </nav>
</header>
</body>
</html>
