<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">HealthHub</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <div class="navbar">
        <div class="logo">
            <h1>HealthHub</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/register">Registrati</a></li>
                <li><a href="/search">Cerca Medico</a></li>
                <li><a href="/contact">Contatti</a></li>
                <li><a href="/help">Aiuto</a></li>
            </ul>
        </nav>
    </div>
</header>
</body>
</html>
