<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/doctor-dashboard.css}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div class="container">
    <aside th:replace="~{fragments/doctor-sidebar :: sidebar(${doctor})}"></aside>
    <main>
        <header>
            <h1>Dashboard</h1>
            <div class="header-right">
                <input type="search" placeholder="Search">
                <button>🔔</button>
                <button>✉️</button>
            </div>
        </header>
        <section class="main-content">
            <div class="line-chart">
                <h3 id="earningsTitle">Earnings of this year</h3>
                <canvas id="earningsChart"></canvas>
            </div>
        </section>
        <section class="stats">
            <div class="stat">
                <h3>Endorsements</h3>
                <p><span id="endorsementCount" th:text="${doctor?.endorsementCount}">-</span></p>
            </div>
            <div class="stat">
                <h3>New Patients This Month</h3>
                <p><span id="patientCount" th:text="${patientCount}">-</span></p>
            </div>
            <div class="stat">
                <h3>Appointments Today</h3>
                <p><span id="patientToday" th:text="${patientToday}">-</span></p>
            </div>
            <div class="stat">
                <h3>New Weekly Reviews</h3>
                <p><span id="weeklyReviews" th:text="${weeklyReviews}">-</span></p>
            </div>
        </section>
        <section class="main-content">
            <div class="pie-chart">
                <h3>Visit Types Summary</h3>
                <canvas id="visitsChart"></canvas>
            </div>
            <div class="appointments">
                <h3>Today's Appointments</h3>
                <ul id = "appointments-list">

                </ul>
            </div>
            <div class="next-patient">
                <h3>Next Patient Details</h3>
                <div id="patient-info" class="patient-info">

                </div>
                <div class="patient-buttons">
                    <button>Document</button>
                </div>
            </div>
        </section>
    </main>
</div>
<div class="doctor-info" th:attr="data-doctor-id=${doctor?.id}" id="doctor-info" style="visibility: hidden;"></div>
<script th:src="@{/js/doctor-dashboard.js}"></script>

</body>
</html>
